<html>
	<head>
		<title>Proyecto ADSI</title>
	</head>
	<body>
		<div>
			<h1><a href="">Mi Pagina Personal</a></h1>
		</div>

		<div>
			<p>published: 18.05.2017</p>
			<h2><a href="">Primer Post</a></h2>
			<p>Don't Panic</p>
		</div>

		<div>
			<p>published: 18.05.2017</p>
			<h2><a href="">Segundo Post</a></h2>
			<p>The story so far:
			In the beginning the Universe was created.
			This has made a lot of people very angry and been widely regarded as a bad move.</p>
		</div>

		<div>
			<p>published: 18.05.2017</p>
			<h2><a href="">Tercer Post</a></h2>
			<p>The last ever dolphin message was misinterpreted as a surprisingly sophisticated attempt to do a double-backwards-somersault through a hoop whilst whistling the ‘Star Spangled Banner’, but in fact the message was this: So long and thanks for all the fish.</p>
		</div>
	</body>
</html>